<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harita</title>
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div class="map-container">
        <div id="map"></div>
        <div class="info-box">
            <h3>Kategoriler</h3>
            <label><input type="checkbox" class="category-checkbox" value="satis_noktalari" checked> Satış İstasyonları</label><br>
            <label><input type="checkbox" class="category-checkbox" value="oteller" checked> Oteller</label><br>
            <label><input type="checkbox" class="category-checkbox" value="akaryakit_ist" checked> Akaryakıt İstasyonları</label><br>
            <label><input type="checkbox" class="category-checkbox" value="restoranlar" checked> Restoranlar</label><br>
        </div>

    </div>
    <button class="fixed-button" onclick="window.location.href='/profile'">Anasayfa</button>
    <script src="/js/map.js"></script>
</body>
</html>
