body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
    color: #333;
}

.reservation-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(103, 94, 1, 0.1);
}

h1 {
    text-align: center;
    color: #444;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#notification {
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 15px;
    text-align: center;
}


